<!DOCTYPE html>
<!-- This application file is the main layout file for this web application -->
<!-- All the changes that we're made here will be available on all part of the webpage -->
<html>
<head>
  <title>GelungSuasa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>
  <div class="container">
    <%= yield %> <!-- All file that is in the views folder get display through this tag or section -->
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
